<div>
  <div class="form-group">
    <label>Id:</label>
    <input type="text" class="form-control" [(ngModel)]="editUserDetails.id" />
  </div>
  <div>
    <div class="form-group">
      <label>Name:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="editUserDetails.name"
       
      />
    </div>
  </div>
</div>
