<div class="container">
  <section class="stark-login">

    <div *ngIf="isLoading" class="text-center my-4">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <form #authForm="ngForm" (ngSubmit)="onFormSubmit(authForm)" *ngIf="!isLoading" class="form">
      <div id="fade-box">

        <div class="iconos">
          <!-- <img src="../../../assets/img/logo.png" alt=""> -->

        </div>
         <!-- <div class="segment">  -->
     <div class="alert alert-danger my-4" *ngIf="error">
      {{ error }}
    </div>

     <app-alert-modal *ngIf="error" [error]="error" (close)="error=null"></app-alert-modal> 


      <h3>Iniciar Seccion</h3>
    <div class="form-group">
        <label for="email">Correo Electronico</label>
        <input
          type="text"
          
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
          maxlength="35"
        />

        <div class="help-text" *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors.required">El correo es requerido</div>
          <div *ngIf="email.errors.email">Correo invalido</div>
        </div>


      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="help-text" *ngIf="password.touched && !password.valid">
          <div>{{ getPasswordErrors(password) }}</div>
        </div>
      </div>

      <div class="segment">
        <button
          type="submit"
          class="segment"
          [disabled]="!authForm.valid"
        >
        {{ isLoginMode ? "Aceptar" : "Registrate" }}
        </button>
    
        |
        <button type="button" class="segment" (click)="onSwitchMode()">
          {{ isLoginMode ? "Registrarse" : "iniciar secion" }}
        </button>
      </div>
       </div>  
    <!-- </div>  -->
    </form>
 </section> 
</div>
