.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    margin-top: -400px;
  }
  
  h3 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(154, 154, 154);
    text-align: center;
    margin-top: 25px;
  }
  /* Log in form */
  
  #fade-box {
    animation: input-entry 3s ease-in;
    z-index: 4;
    margin-top: 100px;
  }
  
  .stark-login form {
    animation: form-entry 3s ease-in-out;  /* des comentar luego  */
    /* background: rgb(224, 4, 4); */
    background: linear-gradient(#ffffff, #ffffff);
    /* border: 6px solid #dedede; */
    box-shadow: 0 0 15px #ecf3f3;
    border-radius: 10px;
    display: inline-block;
    height: 520px;
    width: 400px;
    /* margin: 400px auto 0; */
    margin-top: 420px;
    position: relative;
    z-index: 4;
    
    transition: 1s all;
  }
  .stark-login form:hover {
    border: 3px solid #f7fafa;
    box-shadow: 0 0 25px #0d0f0f;
    transition: 1s all;
  }
  
  div, p {
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
  }
  
  .form {
    /* margin-top: 2000px; */
    padding: 16px;
    width: 70px;
    /* margin: 0 auto; */
  }
  
  .segment {
    /* padding: 32px 0; */
    text-align: center;
    ;
 
  }
   
   input , a{
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
  }
  
  a {
    color: #BABECC;
    text-decoration: none;
    display: block;
    margin-bottom: 24px;
    width: 100%;
    /* CENTRAR */
    margin: 0 auto;
    text-align: center;
  
  
  }
  a:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
    transition: 1s all;
    
  }
  
   label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
  }
  
  input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 90%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  }
  input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
   
  button {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    /* font-size: 1.5rem; */
    border-radius: 10px;
    /* padding: 16px;    */
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
    margin: 5%;
    width: 30%;
    height: 25%;
    margin-top: 80px;
  }
  button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }
  button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  /* button .icon {
    margin-right: 8px;
  }
  button.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px;
  }
  button.unit .icon {
    margin-right: 0;
  }
  button.red {
    display: block;
    width: 100%;
    color: #AE1100;
  } */
  
  .input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .input-group label {
    margin: 0;
    flex: 1;
  }

  @keyframes input-entry {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* para los bordesde de la animacion al iniciar */
  @keyframes form-entry {
    0% {
      height: 0;
      width: 0;
      opacity: 0;
      padding: 0;
    }
    20% {
      height: 0;
      border: 1px solid #000606;
      width: 0;
      opacity: 0;
      padding: 0;
    }
    40% {
      width: 0;
      height: 420px;
      border: 6px solid #eaeeee;
      opacity: 1;
      padding: 0;
    }
    /* el tamanio del cuadro */
    100% {
      height: 520px;
      width: 400px;
    }
  }
  
  /* @keyframes box-glow {
    0% {
      border-color: #f0f1f1;
      box-shadow: 0 0 5px rgba(223, 223, 223, 0.2), inset 0 0 5px rgba(201, 201, 201, 0.1), 0 2px rgb(255, 255, 255)00;
    }
    100% {
      border-color: #f3f7f7;
      box-shadow: 0 0 20px rgba(219, 221, 221, 0.6), inset 0 0 10px rgba(195, 196, 196, 0.4), 0 2px 0 #000;
    }
  } */
  