<!-- comentarios -->

<!-- <img src="https://thumbs.dreamstime.com/b/trabajo-del-asesor-s-correcci%C3%B3n-de-los-posts-foro-125354405.jpg" alt="img-coment"> -->

<div class="container">
  
  <div class="contenido">
    <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">
      <div class="form-group">
        <label>Titulo</label>
        <input type="text" class="form-control" formControlName="title" />

        <div
          class="help-text"
          *ngIf="!postForm.get('title').valid && postForm.get('title').touched"
        >
          Titulo es Requerido
        </div>
      </div>


      <div class="form-group">
        <label>Comentario</label>
        <textarea class="form-control" formControlName="content"></textarea>
        <div
          class="help-text"
          *ngIf="
            !postForm.get('content').valid && postForm.get('content').touched
          "
        >
          Contenido es Requerido
        </div>
      </div>

      <div class="my-2">
        <button type="submit" class="btn btn-primary">añadir comentario</button>
      </div>
    </form>
  </div>




  <div>
    <a href="#" (click)="onClearPosts($event)">limpiar comentarios</a>
  </div>


 
<!-- guardar los datos en firebase -->

<form [formGroup]="postForm" (ngSubmit)="onCreatePost()">
  <div>
    <table class="table" *ngIf="!error">
      <thead>
        <th>Titulo</th>
        <th>Comentario</th>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.title }}</td>
          <td>{{ post.content }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="error">
      <div class="alert alert-danger">{{ error }}</div>
    </div>
  </div>


  <details>
    <summary>Foro</summary>
  </details>



  <div>
    
  </div>
  <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
  <ngx-editor
    [editor]="editor"
    [(ngModel)]="html"
    >
  </ngx-editor>
  
  <br>
  <button type="submit" (click)="Guardar()">Guardar</button>
  
  <br><br>
  
  <div [innerHTML]="html"></div>

</form>
</div>
