

<div class="header">
<ul class="container">
  <li class="direccion ruta" *ngIf="!isAuthenticated">
    <a class="botonini" routerLink="/auth" routerLinkActive="active"><span>Ingresa para comentar</span> </a>
  </li>
  
  <div *ngIf="isAuthenticated">
    <li class="direccion ruta">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        > <span>Inicio</span> </a>
    </li>
    <!-- <li class="direccion ruta">
      <a class="nav-link" routerLink="/users" routerLinkActive="active"
        ><span>Usuarios</span></a>
    </li> -->
    <li class="direccion ruta">
      <a
        class="nav-link"
        [routerLink]="['/categories']"
        routerLinkActive="active"
      ><span>Categorias</span></a  >
    </li>
   
 
    <!-- <li class="direccion ruta">
      <a
        class="nav-link"
        [routerLink]="['/filterpipes']"
        routerLinkActive="active"
        ><span>Filtros</span></a
      >
    </li> -->
    <li class="direccion ruta">
      <a class="nav-link" [routerLink]="['/posts']" routerLinkActive="active"
        ><span>comentarios</span></a
      >
    </li>
  </div>
  <div class="salir">
  <li class="direccion ruta" *ngIf="isAuthenticated">
    <a class="nav-link" href="#" (click)="onLogout($event)" routerLinkActive="active"
      ><span>cerrar sesion </span></a
    >
  </li>
  </div>
</ul>
</div>