
.header{
    display: flex;
    width: 90vw;
    height: 10vh;
    color: #a3a2a2;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    margin-top: 1%;
} 

.salir{
    width: 220px;
    margin: -8%;
    float: right;
}
.container .nav-item {
  display: inline-block;
} 
.container a{
color: rgb(255, 255, 255);
display: inline-block;
}

.container a:hover{
    color: rgb(36, 13, 149);
}


.direccion {
    width: 150px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(239, 236, 236, 0.1),
     4px 4px 5px 0px rgba(255, 255, 255, 0.1);
    outline: none;
  }
  
  
  
  
  .ruta {
  
    background: rgb(210, 210, 210);
    background: radial-gradient(circle, rgb(123, 156, 208) 0%, rgb(53, 128, 203) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    margin: 20px;
    text-align: center;
    /* border-radius: 5px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none; */
  
  }
  .ruta span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .ruta:before,
  .ruta:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
   box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(110, 161, 251, 0.4),
     4px 4px 5px 0px rgba(87, 144, 236, 0.3);
  }
  .ruta:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .ruta:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .ruta:hover{
    background: transparent;
    color: #76aef1;
    box-shadow: none;
  }
  .ruta:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .ruta:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .ruta span:before,
  .ruta span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(255, 252, 252, 0.4),
     4px 4px 5px 0px rgba(255, 255, 255, 0.3);
  }
  .ruta span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .ruta span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .ruta span:hover:before {
    width: 100%;
  }
  .ruta span:hover:after {
    width: 100%;
  }