<div class="container">


<div class="home">
    <img src="https://thumbs.dreamstime.com/b/trabajo-del-asesor-s-correcci%C3%B3n-de-los-posts-foro-125354405.jpg" alt="">
    
</div>
<div class="contenido">
    <h2>FORO</h2>
   <h3>Propietario / Ever Mamai Vicente</h3>
   <button>Ser Miermbro</button>
</div>

</div>